<div class="position-relative mb-4">
  <img
    src="../../assets/images/home-bg.jpg"
    alt=""
    class="img-fluid img-contain img-darker-overlay"
  />
  <div class="text-container">
    <p [@fadeIn]>Hi, my name is</p>
    <h1 [@fadeIn]>Yasith C Bandara</h1>
    <h3 [@fadeIn]>I build things for the web</h3>
    <div class="home-desc-text">
      <p [@fadeIn]>
        Welcome!, This is a snapshot of my passion for coding and
        problem-solving. Here, you'll find a curated showcase of my diverse
        projects, reflecting my dedication to creating efficient and
        user-centric software. I'm driven by innovation and thrive on tackling
        complex challenges with clean, elegant solutions. Feel free to explore,
        and if you have a project or collaboration in mind, let's connect and
        turn ideas into reality.
      </p>
    </div>
  </div>
</div>

<!-- overview -->
<div class="overview container col-8 mb-4">
  <div class="row">
    <h2 class="my-4">About Me</h2>
    <div class="col-5">
      <img
        src="../../assets/images/my-img1.jpg"
        alt=""
        class="img-fluid img-contain"
      />
    </div>
    <div class="col-7">
      <p>
        The main goal was to create a modern and minimalistic portfolio website
        for a blockchain app developer. After some research, I came up with the
        idea of how to create the website using the modern approach. Using some
        basic colors and dark theme I was able to create a modern and unique
        look. The website replicates visual studio code. This makes the viewer
        feel more comfortable while exploring the website and also helps with
        the eye comfort considering the increasing use of dark mode.
      </p>
      <div
        class="d-flex justify-content-center align-items-center social-icons"
      >
        <a
          href="https://facebook.com/your-username"
          title="Facebook"
          class="btn btn-primary btn-sm me-2"
        >
          <i class="bi bi-facebook"></i>
        </a>
        <a
          href="https://twitter.com/your-username"
          title="Twitter"
          class="btn btn-primary btn-sm me-2"
        >
          <i class="bi bi-twitter"></i>
        </a>
        <a
          href="https://instagram.com/your-username"
          title="Instagram"
          class="btn btn-primary btn-sm me-2"
        >
          <i class="bi bi-instagram"></i>
        </a>
        <a
          href="https://linkedin.com/your-username"
          title="LinkedIn"
          class="btn btn-primary btn-sm me-2"
        >
          <i class="bi bi-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
</div>
